.svg-16px{
    width: 16px;
    height: 16px;
}
.svg-24px{
    width: 24px;
    height: 24px;
}
.svg-32px{
    width: 32px;
    height: 32px;
}
.svg-40px{
    width: 40px;
    height: 40px;
}
.svg-62px{
    width: 62px;
    height: 62px;
}
.fill-white{
    fill: white;
}
.fill-black{
    fill: black;
}
.svg-ic_logo_icon_24px {
    background: url(../images/svg-icon/vct.svg) 7.142857142857143% 0 no-repeat;
}

.svg-ic_logo_icon_24px-dims {
    width: 24px;
    height: 24px;
}